@import '../common.scss';
@import './Axis.scss';

.axis--bg {
    order: 4;
    width: map-get($size-axes, bg);
    height: 100%;

    @include mq(width, tablet) {
        width: map-get($size-axes-tablet, bg);
    }

    @include mq(width, desktop) {
        width: map-get($size-axes-desktop, bg);
    }

    @include mq(width, desktopXL) {
        width: map-get($size-axes-desktop-xl, bg);
    }

    > .wrapper {
        flex-direction: column-reverse;
    }
}