@import '../common.scss';
@import './Axis.scss';

.axis--basal {
    order: 2;
    width: map-get($size-axes, basal);
    height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes, time)}));

    @include mq(tablet) {
        width: map-get($size-axes-tablet, basal);
        height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes-tablet, time)}));
    }

    @include mq(desktop) {
        width: map-get($size-axes-desktop, basal);
        height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes-desktop, time)}));
    }

    @include mq(desktopXL) {
        width: map-get($size-axes-desktop-xl, basal);
        height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes-desktop-xl, time)}));
    }

    > .wrapper {
        flex-direction: column;
    }
}