@import 'common.scss';
@import './Axis.scss';

.axis--basal {
    order: 2;
    width: map-get($size-axes, basal);
    height: 100%;

    @include mq(width, tablet) {
        width: map-get($size-axes-tablet, basal);
    }

    @include mq(width, desktop) {
        width: map-get($size-axes-desktop, basal);
    }

    @include mq(width, desktopXL) {
        width: map-get($size-axes-desktop-xl, basal);
    }

    > .wrapper {
        flex-direction: column-reverse;
    }
}