@import '../config.scss';

.axis {
    position: relative;
    overflow: hidden;

    &--x {
        order: 3;
        width: calc(100% - #{$size-axis});
        height: $size-axis;

        > .wrapper {
            flex-direction: row;
        }
    }

    &--y {
        order: 2;
        width: $size-axis;
        height: calc(100% - #{$size-axis});

        > .wrapper {
            flex-direction: column;
        }
    }

    > .wrapper {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}