@import '../config.scss';

.bg {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-white;
    transition: all ease-in-out $animation-speed;

    &--very-low {
        background: $color-bg-very-low;
    }

    &--low {
        background: $color-bg-low;
    }

    &--normal {
        background: $color-bg-normal;
    }

    &--high {
        background: $color-bg-high;
    }

    &--very-high {
        background: $color-bg-very-high;
    }

    .graph--1-h & {
        width: $size-bg-scale-1-h;
        height: $size-bg-scale-1-h;
    }

    .graph--3-h & {
        width: $size-bg-scale-3-h;
        height: $size-bg-scale-3-h;
    }

    .graph--6-h & {
        width: $size-bg-scale-6-h;
        height: $size-bg-scale-6-h;
    }

    .graph--12-h & {
        width: $size-bg-scale-12-h;
        height: $size-bg-scale-12-h;
    }

    .graph--24-h & {
        width: $size-bg-scale-24-h;
        height: $size-bg-scale-24-h;
    }
}