@import '../common.scss';

.bg {
    position: absolute;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: $color-white;
    transition: all ease-in-out $animation-speed;

    &--very-low {
        background: $color-bg-very-low;
    }

    &--low {
        background: $color-bg-low;
    }

    &--normal {
        background: $color-bg-normal;
    }

    &--high {
        background: $color-bg-high;
    }

    &--very-high {
        background: $color-bg-very-high;
    }

    .graph--1-h & {
        width: 8px;
        height: 8px;

        @include mq(tablet) {
            width: 10px;
            height: 10px;
        }

        @include mq(desktop) {

        }

        @include mq(desktopXL) {

        }
    }

    .graph--3-h & {
        width: 5px;
        height: 5px;

        @include mq(tablet) {
            width: 8px;
            height: 8px;
        }

        @include mq(desktop) {
            width: 10px;
            height: 10px;
        }

        @include mq(desktopXL) {

        }
    }

    .graph--6-h & {
        width: 4px;
        height: 4px;

        @include mq(tablet) {
            width: 6px;
            height: 6px;
        }

        @include mq(desktop) {
            width: 7px;
            height: 7px;
        }

        @include mq(desktopXL) {
            width: 8px;
            height: 8px;
        }
    }

    .graph--12-h & {
        display: none;

        @include mq(tablet) {
            display: block;
            width: 4px;
            height: 4px;
        }

        @include mq(desktop) {
            width: 5px;
            height: 5px;
        }

        @include mq(desktopXL) {
            width: 6px;
            height: 6px;
        }
    }

    .graph--24-h & {
        display: none;

        @include mq(tablet) {
            
        }

        @include mq(desktop) {
            display: block;
            width: 4px;
            height: 4px;
        }

        @include mq(desktopXL) {
            width: 5px;
            height: 5px;
        }
    }
}