@import '../common.scss';

.inner--bg > svg > .bg {
    transition: all $transition-type $transition-speed;
    cursor: pointer;

    &.bg--very-low {
        fill: map-get(map-get($theme, bg), very-low);
    }

    &.bg--low {
        fill: map-get(map-get($theme, bg), low);
    }

    &.bg--normal {
        fill: map-get(map-get($theme, bg), normal);
    }

    &.bg--high {
        fill: map-get(map-get($theme, bg), high);
    }

    &.bg--very-high {
        fill: map-get(map-get($theme, bg), very-high);
    }

    .graph--1-h & {
        r: 4px;

        @include mq(width, tablet) {
            r: 6px;
        }

        @include mq(width, desktop) {

        }

        @include mq(width, desktopXL) {

        }
    }

    .graph--3-h & {
        r: 2.5px;

        @include mq(width, tablet) {
            r: 4px;
        }

        @include mq(width, desktop) {
            r: 6px;
        }

        @include mq(width, desktopXL) {

        }
    }

    .graph--6-h & {
        r: 2px;

        @include mq(width, tablet) {
            r: 3px;
        }

        @include mq(width, desktop) {
            r: 4px;
        }

        @include mq(width, desktopXL) {
            r: 5px;
        }
    }

    .graph--12-h & {
        display: none;

        @include mq(width, tablet) {
            display: block;
            r: 2.5px;
        }

        @include mq(width, desktop) {
            r: 3px;
        }

        @include mq(width, desktopXL) {
            r: 4px;
        }
    }

    .graph--24-h & {
        display: none;

        @include mq(width, tablet) {
            
        }

        @include mq(width, desktop) {
            display: block;
            r: 2.5px;
        }

        @include mq(width, desktopXL) {
            r: 3px;
        }
    }
}