@import '../common.scss';

.bubble {
    display: none;
    position: absolute;
    padding: 20px 25px;
    background: map-get($theme, bubble);
    border-radius: 8px;
    transform: translate(calc(100% + 8px), calc(-100% - 8px));
    z-index: 50;

    &.is-visible {
        display: block;
    }

    > .info,
    > .time {
        white-space: nowrap;
        margin: 0;
    }

    > .info {
        font-weight: bold;
    }

    &.bg {

        &--very-low {

            > .info {

                > .value {
                    color: map-get(map-get($theme, bg), very-low);
                }
            }
        }
    
        &--low {

            > .info {

                > .value {
                    color: map-get(map-get($theme, bg), low);
                }
            }
        }
    
        &--normal {
            
            > .info {

                > .value {
                    color: map-get(map-get($theme, bg), normal);
                }
            }
        }
    
        &--high {

            > .info {

                > .value {
                    color: map-get(map-get($theme, bg), high);
                }
            }
        }
    
        &--very-high {

            > .info {

                > .value {
                    color: map-get(map-get($theme, bg), very-high);
                }
            }
        }
    }
}