@import 'common.scss';

.button-timescale {
    background: none;
    border: 3px solid transparent;
    padding: 4px 10px;
    font-weight: bold;
    outline: none;
    font-size: 18px;

    @include mq(width, tablet) {
        padding: 8px 20px;
    }

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
        border: 3px solid $color-white;
    }

    &.is-active {
        background: map-get($theme, font);
        border: 3px solid $color-white;
        color: map-get($theme, background);
    }
}