@import '../common.scss';

.corner {
    order: 6;
    width: map-get($size-axes, bg);
    height: map-get($size-axes, time);

    @include mq(width, tablet) {
        width: map-get($size-axes-tablet, bg);
        height: map-get($size-axes-tablet, time);
    }

    @include mq(width, desktop) {
        width: map-get($size-axes-desktop, bg);
        height: map-get($size-axes-desktop, time);
    }

    @include mq(width, desktopXL) {
        width: map-get($size-axes-desktop-xl, bg);
        height: map-get($size-axes-desktop-xl, time);
    }
}