@import 'common.scss';

.dash {
    width: 100%;
    height: $ratio-dash * 100%;

    @include mq(width, desktop) {
        height: $ratio-dash-desktop * 100%;
    }

    > .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 30px;

        @include mq(width, desktop) {
            flex-direction: row;
            justify-content: space-between;
        }
        
        > .recent {
            display: flex;
            flex-direction: column;
            order: 1;
            margin-bottom: 15px;

            @include mq(height, small) {
                margin-bottom: 0;
                margin-right: 15px;
            }

            @include mq(width, tablet) {
                flex-direction: row;
            }
    
            @include mq(width, desktop) {
                margin-bottom: 0;
                padding: 0 30px;
            }

            > .bg {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;

                @include mq(width, tablet) {
                    justify-content: flex-start;
                    margin-bottom: 0;
                    margin-right: 35px;
                }

                &.very-low {
                    color: map-get(map-get($theme, bg), very-low);
                }
            
                &.low {
                    color: map-get(map-get($theme, bg), low);
                }
            
                &.normal {
                    color: map-get(map-get($theme, bg), normal);
                }
            
                &.high {
                    color: map-get(map-get($theme, bg), high);
                }
            
                &.very-high {
                    color: map-get(map-get($theme, bg), very-high);
                }

                &.is-expired {

                    > .value {
                        color: map-get(map-get($theme, font), expired) !important;
                        text-decoration: line-through;
                    }

                    > .trend {
                        display: none;
                    }
                }
                
                > .value,
                > .trend {
                    margin: 0;
                    color: inherit;
                    font-weight: 600;
                }
        
                > .value {
                    font-size: 54px;
                    margin-right: 10px;
        
                    @include mq(width, tablet) {
                        font-size: 70px;
                    }
        
                    @include mq(width, desktop) {
                        font-size: 54px;
                    }
        
                    @include mq(width, desktopXL) {
                        font-size: 84px;
                    }
                }
        
                > .trend {
                    display: flex;
                    align-items: center;
        
                    > .arrow {
                        font-size: 48px;
                        color: inherit;
                        margin-right: 10px;
        
                        @include mq(width, tablet) {
                            font-size: 54px;
                            margin-top: -2px;
                        }
            
                        @include mq(width, desktopXL) {
                            font-size: 60px;
                        }
                    }
        
                    > .delta {
                        font-size: 24px;
                        color: inherit;
                        margin-top: 6px;
        
                        @include mq(width, tablet) {
                            font-size: 28px;
                        }
            
                        @include mq(width, desktopXL) {
                            font-size: 32px;
                        }
                    }
                }
            }

            > .general {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                @include mq(height, small) {
                    display: none;
                }

                @include mq(width, tablet) {
                    flex-direction: column;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                }

                > .insulin,
                > .on-board,
                > .factors,
                > .age,
                > .battery {
                    display: flex;
                    justify-content: center;
                    margin-right: 12px;

                    &:not(:last-child) {

                        @include mq(width, tablet) {
                            margin-bottom: 5px;
                        }
                    }

                    @include mq(width, tablet) {
                        justify-content: flex-start;
                    }
                }
            }
        }

        > .time {
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include mq(width, desktop) {
                align-items: flex-end;
            }
    
            > .clock {
                display: none;
                margin-bottom: 5px;
                font-weight: 600;
                font-size: 38px;
                
                @include mq(width, desktop) {
                    display: block;
                }
            }

            > .last-fetch {
                display: none;
                position: relative;
                padding-left: 26px;
                margin-bottom: 15px;

                @include mq(width, desktop) {
                    display: block;
                }

                &.is-expired {
                    color: map-get(map-get($theme, font), expired) !important;
                }

                &:before {
                    position: absolute;
                    top: calc(50% + 1px);
                    left: 0;
                    transform: translate(0, -50%);
                    display: block;
                    content: '';
                    background-image: url('../icons/icon-fetching.svg');
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                }

                &.is-expired {
                    text-decoration: line-through;

                    &:before {
                        background-image: url('../icons/icon-fetching--expired.svg');
                    }
                }
            }
        
            > .buttons-timescale {
                display: flex;
            }
        }
    }
}