@import '../common.scss';

.graph {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;

    > .graph-bg,
    > .graph-basal {
        display: flex;
        width: 100%;
    }

    > .graph-bg {
        order: 2;
        height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes, time)}));
    
        @include mq(width, tablet) {
            height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes-tablet, time)}));
        }
    
        @include mq(width, desktop) {
            height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes-desktop, time)}));
        }
    
        @include mq(width, desktopXL) {
            height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes-desktop-xl, time)}));
        }
    }

    > .graph-basal {
        order: 1;
        height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes, time)}));
        
        @include mq(width, tablet) {
            height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes-tablet, time)}));
        }
    
        @include mq(width, desktop) {
            height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes-desktop, time)}));
        }
    
        @include mq(width, desktopXL) {
            height: calc(#{$ratio-basal-axis} * (100% - #{map-get($size-axes-desktop-xl, time)}));
        }
    }
}