@import '../common.scss';

.graph {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: $ratio-graph * 100%;

    @include mq(width, desktop) {
        height: $ratio-graph-desktop * 100%;
    }

    > .graph-bg,
    > .graph-basal {
        display: flex;
        width: 100%;
        overflow-y: hidden;
    }

    > .graph-bg {
        height: calc(#{$ratio-graph-bg} * (100% - #{map-get($size-axes, time)}));
    
        @include mq(width, tablet) {
            height: calc(#{$ratio-graph-bg} * (100% - #{map-get($size-axes-tablet, time)}));
        }
    
        @include mq(width, desktop) {
            height: calc(#{$ratio-graph-bg} * (100% - #{map-get($size-axes-desktop, time)}));
        }
    
        @include mq(width, desktopXL) {
            height: calc(#{$ratio-graph-bg} * (100% - #{map-get($size-axes-desktop-xl, time)}));
        }
    }

    > .graph-basal {
        height: calc(#{$ratio-graph-basal} * (100% - #{map-get($size-axes, time)}));
        
        @include mq(width, tablet) {
            height: calc(#{$ratio-graph-basal} * (100% - #{map-get($size-axes-tablet, time)}));
        }
    
        @include mq(width, desktop) {
            height: calc(#{$ratio-graph-basal} * (100% - #{map-get($size-axes-desktop, time)}));
        }
    
        @include mq(width, desktopXL) {
            height: calc(#{$ratio-graph-basal} * (100% - #{map-get($size-axes-desktop-xl, time)}));
        }
    }
}