@import '../common.scss';

.inner.inner--basal {
    width: calc(100% - #{map-get($size-axes, basal)});
    height: 100%;
    overflow-y: hidden;
    
    @include mq(width, tablet) {
        width: calc(100% - #{map-get($size-axes-tablet, basal)});
    }

    @include mq(width, desktop) {
        width: calc(100% - #{map-get($size-axes-desktop, basal)});
    }

    @include mq(width, desktopXL) {
        width: calc(100% - #{map-get($size-axes-desktop-xl, basal)});
    }

    > svg {
        width: 100%;
        height: 100%;
    }
}