@import '../config.scss';

.inner {
    position: relative;
    order: 1;
    width: calc(100% - #{$size-axis});
    height: calc(100% - #{$size-axis});

    > button {
        background: none;
        border: 3px solid transparent;
        border-radius: 10px;
        padding: 8px 20px;
        font-weight: bold;
        color: $color-white;
        outline: none;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            cursor: pointer;
            border: 3px solid $color-white;
        }

        &.is-active {
            background: $color-white;
            border: 3px solid $color-white;
            color: $color-background;
        }
    }
}