@import 'common.scss';

.inner.inner--bg {
    width: calc(100% - #{map-get($size-axes, bg)});
    height: 100%;

    @include mq(width, tablet) {
        width: calc(100% - #{map-get($size-axes-tablet, bg)});
    }

    @include mq(width, desktop) {
        width: calc(100% - #{map-get($size-axes-desktop, bg)});
    }

    @include mq(width, desktopXL) {
        width: calc(100% - #{map-get($size-axes-desktop-xl, bg)});
    }

    > svg {
        width: 100%;
        height: 100%;
    }
}