@import '../common.scss';

.inner.inner--basal {
    position: relative;
    order: 1;
    width: calc(100% - #{map-get($size-axes, basal)});
    height: calc(#{$height-basal-axis} - #{map-get($size-axes, time)});
    overflow-y: hidden;
    
    @include mq(tablet) {
        width: calc(100% - #{map-get($size-axes-tablet, basal)});
        height: calc(#{$height-basal-axis} - #{map-get($size-axes-tablet, time)});
    }

    @include mq(desktop) {
        width: calc(100% - #{map-get($size-axes-desktop, basal)});
        height: calc(#{$height-basal-axis} - #{map-get($size-axes-desktop, time)});
    }

    @include mq(desktopXL) {
        width: calc(100% - #{map-get($size-axes-desktop-xl, basal)});
        height: calc(#{$height-basal-axis} - #{map-get($size-axes-desktop-xl, time)});
    }
}