@import '../config.scss';

.inner {
    order: 1;
    width: calc(100% - #{$size-axis});
    height: calc(100% - #{$size-axis});

    > button {
        background: none;
        border: none;
        border-radius: 6px;
        padding: 10px 30px;
        font-size: 20px;
        font-weight: bold;
        color: $color-white;
        outline: none;

        &:hover {
            cursor: pointer;
            background: $color-white;
            color: $color-background;
        }
    }
}