@import '../common.scss';

.inner.inner--bg {
    position: relative;
    order: 3;
    width: calc(100% - #{map-get($size-axes, bg)});
    height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes, time)}));
    overflow-y: hidden;

    @include mq(width, tablet) {
        width: calc(100% - #{map-get($size-axes-tablet, bg)});
        height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes-tablet, time)}));
    }

    @include mq(width, desktop) {
        width: calc(100% - #{map-get($size-axes-desktop, bg)});
        height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes-desktop, time)}));
    }

    @include mq(width, desktopXL) {
        width: calc(100% - #{map-get($size-axes-desktop-xl, bg)});
        height: calc(#{$ratio-bg-axis} * (100% - #{map-get($size-axes-desktop-xl, time)}));
    }

    > svg {
        width: 100%;
        height: 100%;
    }

    > .buttons-timescale {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        z-index: 10;
    }
}