@import 'common.scss';

.inner--basal > svg > .netBasal {
    $bg-color: map-get(map-get($theme, basal), background);
    fill: $bg-color;
    transition: all $transition-type $transition-speed;
    cursor: pointer;

    &:hover {
        fill: darken($bg-color, 10%);
    }
}