@import '../common.scss';

.bar.tb {
    flex: 0 0 auto;
    background: map-get(map-get($theme, basal), background);
    border: map-get(map-get($theme, basal), border);
    cursor: pointer;
    transition: all $transition-type $transition-speed;
}