@import '../config.scss';

$border: 1px dashed $color-white;

.tick {
    display: flex;
    flex: 1;
    color: $color-white;
    font-weight: bold;

    .axis--x & {
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        border-right: $border;
        padding-right: 5px;
    }

    .axis--3h & {
        width: calc(100% / 3);
    }

    .axis--6h & {
        width: calc(100% / 6);
    }

    .axis--12h & {
        width: calc(100% / 12);
    }

    .axis--24h & {
        width: calc(100% / 24);
    }

    .axis--y & {
        justify-content: flex-start;
        align-items: flex-end;
        border-bottom: $border;
        padding-bottom: 5px;
    }
}