// BREAKPOINTS
$breakpoints: (
    tablet: 600px,
    desktop: 1024px,
    desktopXL: 1280px,
);

// FONTS
$font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// RAW COLORS
$color-black: #000000;
$color-dark-grey: #1b1b1b;
$color-grey: #333333;
$color-white: #ffffff;
$color-red: #e50000;
$color-orange: #ff7500;
$color-green: #99e500;

// COLORS
$color-font: $color-black;
$color-background: $color-dark-grey;
$color-bg-very-low: $color-red;
$color-bg-low: $color-orange;
$color-bg-normal: $color-green;
$color-bg-high: $color-orange;
$color-bg-very-high: $color-red;

// SIZES
$size-font: 16px;
$size-axis: 18px;
$size-axis-tablet: 22px;
$size-axis-desktop: 26px;
$size-axis-desktop-xl: 28px;

// BORDERS
$border-axis-tick: 1px dashed $color-white;

// ANIMATIONS
$animation-speed: 500ms;