// BREAKPOINTS
$breakpoints: (
    width: (
        tablet: 600px,
        desktop: 1024px,
        desktopXL: 1280px,
    ),
    height: (
        small: 500px,
        medium: 768px,
    ),
);


// FONTS
$font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


// COLORS
$color-black: #000000;
$color-deep-black: #00001b;
$color-dark-grey: #1b1b1b;
$color-deep-grey: #404054;
$color-grey: #999999;
$color-white: #ffffff;
$color-purple: #800080;
$color-red: #e50000;
$color-orange: #ff9d2f;
$color-green: #99e500;
$color-blue: #0025dd;
$color-transparent-black: rgba(0, 0, 0, 0.8);


// THEMES
$light-theme: (
    background: $color-white,
    font: (
        normal: $color-black,
        expired: $color-grey,
    ),
    ticks: 1px dashed $color-black,
    bubble: (
        background: $color-white,
        border: 3px solid $color-black,
    ),
    bg: (
        very-low: $color-red,
        low: $color-orange,
        normal: $color-black,
        high: $color-orange,
        very-high: $color-red,
    ),
    basal: (
        background: $color-purple,
    ),
    bolus: $color-black,
);

$dark-theme: (
    background: $color-deep-black,
    font: (
        normal: $color-white,
        expired: $color-grey,
    ),
    ticks: 1px dashed $color-white,
    bubble: (
        background: $color-transparent-black,
        border: none,
    ),
    bg: (
        very-low: $color-red,
        low: $color-orange,
        normal: $color-grey,
        high: $color-orange,
        very-high: $color-red,
    ),
    basal: (
        background: $color-purple,
    ),
    bolus: $color-blue,
);


// CHOSEN THEME
$theme: $dark-theme;


// SIZES
$size-font: 16px;

$size-axes: (
    time: 16px,
    bg: 18px,
    basal: 18px,
);

$size-axes-tablet: (
    time: 18px,
    bg: 20px,
    basal: 20px,
);

$size-axes-desktop: (
    time: 23px,
    bg: 24px,
    basal: 24px,
);

$size-axes-desktop-xl: (
    time: 25px,
    bg: 27px,
    basal: 27px,
);


// RATIOS
$ratio-dash: 0.4;
$ratio-graph: 0.6;
$ratio-dash-desktop: 0.2;
$ratio-graph-desktop: 0.8;
$ratio-graph-bg: 0.6;
$ratio-graph-basal: 0.4;

// TRANSITIONS
$transition-type: cubic-bezier(0.4, 0, 0.2, 1);
$transition-speed: 300ms;